<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="sqlCon" value="server=localhost;uid=sa;pwd=123;database=mete_data"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>