<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
    <httpRuntime maxRequestLength="40960" useFullyQualifiedRedirectUrl="true" />
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
		<compilation debug="true" />
		<pages /></system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
