@font-face {
   font-family: 'weather';
   src: url('../Image/icon/artill_clean_icons-webfont.eot');
   src: url('../Image/icon/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
   url('../Image/icon/artill_clean_icons-webfont.woff') format('woff'),
   url('../Image/icon/artill_clean_icons-webfont.ttf') format('truetype'),
   url('../Image/icon/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
   font-weight: normal;
   font-style: normal;
}
html{
  width: 100%;
  height: 100%; 
  min-width: 1058px;
  min-height: 669px; 
  -webkit-text-size-adjust: none;
}
body{
  padding-top: 50px;
    width: 100%;
    margin: auto auto;
    height: 100%;
    min-width: 1058px;
    -webkit-text-size-adjust: none;
    background-color: rgba(0,0,0,0.8);
    background-image: url("../Image/back.jpg");
    background-size: cover;
    overflow: hidden;
}
.h3, h3 {
    font-size: 20px;
}
.mainpage{
    height: 100%;
}

.navbar-inverse {
    background-color: #006699;
    border-color: #006699;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #579bbd;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #579bbd;
}
.navbar-brand{
	
}